{% include 'header.html.twig' %}

<title>Register</title>

<div class="row justify-content-center" id="middle">
    {{ form_start(registrationForm) }}
        <h1>Register</h1>
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
    <br>
        <button type="submit"  class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>

{% include 'footer.html.twig' %}
