{% include 'header.html.twig' %}


<div class="container">
    <div class="row justify-content-start">
        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.date) }}
        {{ form_row(form.status) }}

        <button type="submit"  class="btn btn-primary">Create task</button>

        {{ form_end(form) }}
    </div>

</div>

{% include 'footer.html.twig' %}