{% include 'header.html.twig' %}


<div class="container">

    <div class="row justify-content-start">


        {% if task %}
            {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.date) }}
            {{ form_row(form.status) }}

            <button type="submit"  class="btn btn-primary">Update task</button>

            {{ form_end(form) }}
        {% else %}
            <h2>Task not found! </h2>
        {% endif %}

    </div>

</div>

{% include 'footer.html.twig' %}