{% include 'header.html.twig' %}


<div class="container">
    <div class="row justify-content-start">
        <div class="col-2">
            <a href="{{ path('app_task_add_page') }}" class="btn btn-success" >Add task</a>
        </div>
        <div class="col-10">
            <span>sorted by : name or id or date  | filter by : dateStart  or dateEnd or status | search</span>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for task in tasks %}
                <tr>
                    <th scope="row"><a href="{{ url('app_task_page', {"id":task.id}) }}">{{ task.id }}</a></th>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.date|date("m-d-Y") }}</td>
                    <td>{{ task.status }}</td>
                    <th scope="row"><a href="{{ url('app_task_delete_page', {"id":task.id}) }}" onclick="return confirm('Are you sure to delete this task?')">x</a></th>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include 'footer.html.twig' %}